body {
    background-color: rgb(200,200,200);
    color: rgb(0,0,0);
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

#content {
    display: block;
    float: right;
    margin-left: auto;
    margin-right: auto;
}

#desc {
    display: block;
    float: left;
    margin-left: auto;
    margin-right: auto;
    padding: 25px, 25px, 25px, 25px;
    text-align: left;
    font-size: 14px;
    max-width: 350px;
}

header {
	padding: 25px, 25px, 25px, 25px;
}

footer {
	font-style: italic;
	font-size: 90%;
}
