body {
    background-color: rgb(255, 79, 79);
    color: rgb(0,0,0);
    font-family: arial;
    text-align: center;
}

p, #desc {
    display: block;
    float: left;
    margin-left: 8%;
    margin-right: 8%;
    text-align: left;
    font-size: 18px;
    max-width: 320px;
}

#content {
    display: inline-block;
    position: absolute;
    float: right;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

header {
    font-family: 'Codystar', cursive;
}
