body {
    background-color: rgb(41, 81, 155);
    color: rgb(0,0,0);
    font-family: 'Gudea', sans-serif;
    text-align: center;
}

#content {
    display: block;
    float: right;
    margin-left: 8%;
    margin-right: 8%;
}

#desc {
    display: block;
    float: left;
    margin-left: 8%;
    margin-right: 8%;
    padding: 25px, 25px, 25px, 25px;
    text-align: left;
    font-size: 14px;
    max-width: 350px;
}

header {
	padding: 25px, 25px, 25px, 25px;
}
